html {
    height: 100%;
    width: 100%;
}

body {
    background-image: url("images/img2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

a {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:1;
}

#page2 {
    width: 65%;
    margin-top: 200px;
    margin-left: 60px;
}

h1 {
    font-size: 60px;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 350;
    color: white;   
}

 #quote2 {
        width: 70%;
    }

@media (max-width: 1255px) {
    #quote2 {
        width: 40%;
    }
    
    h1 {
        font-size: 45px;
        font-weight: 300;
    }
}

@media (max-width: 855px) {
    #quote2 {
        width: 70%;
    }  
    
    h1 {
        font-size: 40px;
    }
}
    
@media (max-width: 730px) {
    #page2 {
        width: 55%;
        margin-left: 40px;
    }
}
    
@media (max-width: 613px) {
    h1 {
        font-size: 40px;
    }
 }
    
@media (max-width: 513px) {
    h1 {
        font-size: 35px;
    }
}
    
@media (max-height: 736px) {
    body {
        background-position:right;
    }
    
    #page2{
        width: 90%;
        margin-left: 100px;
    }
    h1 {
        font-size: 40px;
        text-align: right;
}